{% extends 'base.html' %}

{% block body %}
    <h2>All shrimp</h2>

    <div id="shrimp-list" class="row">
      {% for shrimp in shrimp_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 melon-summary">

              <div class="well">
                  <h3><a href="/shrimp/{{ shrimp.shrimp_id }}">{{ shrimp.name }}</a></h3>
                  <a href="/shrimp/{{ shrimp.shrimp_id }}">
                      <div class="pic"><img src="{{ shrimp.image_url  }}"></div>
                  </a>

                  <div class="price">${{ shrimp.price }}0</div>
                  <a class="btn btn-primary" href="/shrimp/{{ shrimp.shrimp_id }}">Details</a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
