{% extends 'base.html' %}

{% block body %}

    <div id="shrimp-list" class="row">
      {% for shrimp in shrimp_list %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 melon-summary">

              <div class="well">
                  <h3><a href="/shrimp/{{ shrimp.shrimp_id }}">{{ shrimp.name }}</a></h3>
                  <a href="/shrimp/{{ shrimp.shrimp_id  }}">
                      <img src="{{ shrimp.image_url }}" class="img-circle">
                  </a>

                  <div class="price">{{ shrimp.price }}</div>
                  <a class="btn btn-primary" href="/shrimp/{{ shrimp.shrimp_id }}">Details</a>
              </div>

          </div>
      {% endfor %}
    </div>

{% endblock %}
