<html>

<head>
<!--     <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css"> -->
    <title>Shrimply the Best</title>
</head>

<body>

<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <img src="/static/img/shrimp_colors.jpg">

        <h1>Shrimply the Best</h1>

        <p class="lead">Shrimp when you want them.</p>

        <a href="/shrimp" class="btn btn-lg btn-primary">Shop Now</a>

    </div>
</div>

<footer>
    <p>Copyright Ubermelon 2016. All rights reserved.</p>
</footer>

</body>
</html>