{% extends 'base.html' %}

{% block body %}

    <h2>{{ display_shrimp.name }}</h2>

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{ display_shrimp.image_url }}" class="img-responsive">
        </div>

        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                <h3>Price</h3>
                <p> ${{ display_shrimp.price }}0 </p>
                <a class="btn btn-primary" href="/add_to_cart/{{ display_shrimp.shrimp_id }}">
                    Add to Cart
                </a>
            </div>
        </div>
    </div>


{% endblock %}
